<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><h4 class="nav-link active">Welcome....</h4></li>
            </ul>
            <ul>
                <li><button type="submit" class="btn text-light" style="font-size:larger; padding-top: 20px; float: right;" (click)="logout()">Logout</button></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 style="text-align: center; color: rgb(60, 25, 143);">All Books</h1>
    <form style="text-align: center;">
        <label style="color: rgb(60, 25, 143);">Sort by: </label>&nbsp;
        <select size="1" name="sortoption" [(ngModel)]="sortoption">
          <option valur="book_id">Book Id</option>
          <option value="book_name">Book Name</option>
          <option value="author">Author's Name</option>
          <option value="price">Price</option>
          <option value="language">Language</option>
          <option value="publication">Publication</option>
        </select>&nbsp;
        <button type="button" class="btn text-light" (click)="getbooks(sortoption)">Sort</button>&nbsp;
        </form><br>
    <div class="row">
        <div class="col-lg-4" *ngFor="let book of books.books" >
            <div class="card" style="height: 300px;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h2 class="card-title">{{book.book_name}}</h2>
                    <h3>Author: {{book.author}}</h3>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p> -->
                    <h5>LANGUAGE: {{book.language}}</h5>
                    <h5>Publisher: {{book.publication}}</h5>
                    <h4>Price: {{book.price}}</h4>
                    <button class="btn text-light" (click)="view(book.book_id)">View Book</button>
                    
                    <!-- <div class=col-md-12>
                        <div ng-repeat="rating in ratings">
                            <div star-rating rating-value="rating.current" max="rating.max"
                                on-rating-selected="getSelectedRating(rating)"></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
