.nav-link{
    color: white!important;
}
nav{
    background-color: rgb(89, 89, 202);
    margin-top: 5px;
}
.navbar-brand{
    color: white!important;
    font-style:italic;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.nav-item{
    font-size: 18px;
}
h4{
    padding-top: 6px;
}
.btn{
    background-color: rgb(66, 66, 161);
}
.card{
    margin : 5% 30%;
}
.card-body{
    padding: 5%;
}
.col-lg-3{
    border-style:ridge;
    border-color: rgb(204, 204, 226);
    border-radius: 5px;
    width: 15%;
    position:absolute;
    height: 85%;
    top: 85px;
    left:8px;
    z-index: 1;
    overflow-x: hidden;
    padding: 8px,8px; 
}
