<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin/adminpage">Home</a>
                </li>&nbsp;&nbsp;&nbsp;
                <!-- <li class="nav-item"><a class="nav-link" aria-current="page" href="/admin">Logout</a></li>
                &nbsp;&nbsp;&nbsp; -->
                <li class="nav-item">
                    <h4 class="nav-link" aria-current="page">Welcome..</h4>
                </li>&nbsp;
            </ul>
            <button type="submit" class="btn text-light" style="float: right; padding: 10px; margin-top: 5px; font-size: medium;" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
<div class="card" style="width: 50rem; height: auto;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
        <h2 class="card-title">{{book.data.book_name}}</h2>
        <h3>Author: {{book.data.author}}</h3>
        <p class="card-text">{{book.data.description}}</p>
        <h5>LANGUAGE: {{book.data.language}}</h5>
        <h5>Publisher: {{book.data.publication}}</h5>
        <h4>Price: {{book.data.price}}</h4>
        <h5>Book Status: {{book.data.book_status}}</h5>
        
        <!-- <div class=col-md-12>
            <div ng-repeat="rating in ratings">
                <div star-rating rating-value="rating.current" max="rating.max"
                    on-rating-selected="getSelectedRating(rating)"></div>
            </div>
        </div> -->
        <div>
            <h5>Comments</h5>
            <ul *ngFor="let comment of book.data.comments">
                <li style="list-style-type: none;">{{comment.username}}   :-  {{comment.comment}}</li>
            </ul>
        </div>
        <!-- <div class="commentdiv">
            <textarea placeholder="Please provide comments here..."></textarea><br>
            <button type="button" class="btn text-light">Post</button>
        </div><br> -->
        <button type="button" class="btn text-light" (click)="back()">Go Back</button>
    </div>
</div>