nav-link{
    color: white!important;
}
nav{
    background-color: rgb(89, 89, 202);
    margin-top: 5px;
}
.navbar-brand{
    color: white!important;
    font-style:italic;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.nav-item{
    font-size: 18px;
    padding-top: 5px;
    padding-right: 15px;
}
h4{
    padding-top: 6px;
}
form{
    border-style: groove;
    border-color: white;
    border-width: 5px;
    border-radius: 12px;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
}
h2{
    color:rgb(84, 35, 163);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    color: darkblue;
    font-size: medium;
}
input{
    border-radius: 8px;
    width:72%;
    border-color: rgb(66, 66, 161);
    font-size: medium;
}
.btn{
    background-color: rgb(66, 66, 161);
}
.err{
    color: red;
    font-size: small;
    font-style: italic;
    font-size: small;
}