<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="admin/admin-login">Login</a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">New Customer</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <div>
                <span>
                    Books are a treasure trove of knowledge. It is essential to inculcate reading habits from an early
                    age to develop vocabulary and imaginative skills.
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg"></div>
    </div>
</div>