<div class="div1">
    <h1>USER DETAILS</h1>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">User Name</th>
          <th scope="col">Category</th>
          <th scope="col">Block/Ublock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"><button type="submit" class="btn text-dark bg-light" style="width: 100%;">Block</button></td>
        </tr>
        </tbody>
      </table>
      <form>
      <button type="submit" class="btn text-light">Back</button> 
      </form>
</div>

