<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/customer/books">Books</a>
                </li>
                <li class="nav-item">
                    <h4 class="nav-link active">Welcome {{name|titlecase}}...</h4>
                </li>
            </ul>
            <ul>
                <li><button type="submit" class="btn text-light"
                        style="font-size:larger; padding-top: 20px; float: right;" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card" style="width: 50rem; height: auto;">
    <div class="card-body">
        <h2 class="card-title">{{book?.book_name}}</h2>
        <h3>Author: {{book?.author|titlecase}}</h3>
        <p class="card-text">{{book?.description}}</p>
        <h4>Language: {{book?.language|titlecase}}</h4>
        <h4>Publisher: {{book?.publication|titlecase}}</h4>
        <h3>Price: {{book?.price}}</h3>
        <ngx-star-rating [(ngModel)]="avgrating" [id]="'ratings'" [disabled]="true"></ngx-star-rating>
        &nbsp;<h4>Rating: </h4>
        <div>
            <h4>Comments</h4>
            <ul *ngFor="let comment of book?.comments">
                <li style="list-style-type: none;">{{comment?.username|titlecase}} :- {{comment.comment}} 
            </ul>
        </div>
        
        <h4>Please provide rating and comment</h4>
        <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" [disabled]="disable"></ngx-star-rating>
        &nbsp;<div class="commentdiv">
            <textarea placeholder="Please provide comments here..." name="comment" [(ngModel)]="comment"></textarea><br>
            <br><button type="button" class="btn text-light" (click)="postcomment(comment)">Post</button>&nbsp;
            <button type="button" class="btn text-light" (click)="editcomment(comment)">Edit Your Comment and
                Rating</button><br><br>
            <button type="button" class="btn text-light" (click)="deletecomment()">Delete Your Comment and
                Rating</button>&nbsp;
            <button type="button" class="btn text-light" (click)="goback()">Go Back</button>
        </div>

    </div>
</div>