<app-admin></app-admin>
<div class="container">
    <div class="row">
      <div class="col-lg">
          <div class="Formdiv">
              <form >
                  <h1>ADMIN LOGIN</h1>
                  <label>Username </label><br>
                  <input type="text"><br><br>
                  <label>Password </label><br>
                  <input type="password"><br><br>
                  <button type="submit" class="btn text-light" (click)="login()">Login</button>
              </form>
          </div>
      </div>
    </div>
</div>